
body{
    background-image: url(\images/wedding-1846114_1920.jpg);
    background-attachment: fixed;
}


/*Formattation bar*/


div#menuHome {
width: 100%;
float: left;
display: grid;
grid-template-columns: 50% 20% 30%;
padding: 0;
background-color: rgba(255, 255, 255, 0.5)
}

div#menuHome ul{
    
    color: rgb(255, 155, 172);
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

div#menuHome ul li a:hover{
    display: flex;
    font-size: 120%;
    margin: -18px;
    width: 100%;
    text-align: end;
    padding: 15px;
    color: white;
    background: pink;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu{
grid-column: 1;
margin-left: 10%;
}

div#menuHome li{
width: auto;
float: left;
margin: 0;
padding: 20px;
}

div#menuHome a{
margin: -15px;
padding: 15px;
text-decoration: none;
color: pink;
background-color: rgba(255, 255, 255, 0.074);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: pink;
}

/*a la */



/*input*/
#s {
    width: 100px;
    display: flex;
    justify-content: end;
    list-style: none;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75) inset;
    }

#s:hover{
    color: black;
    background-color: whitesmoke;
}

#inputser{
grid-column: 3;
height: 20px;
display: grid;
cursor: pointer;
border: 0;
top: auto;
right: 30px;
width: 25px;
}



/*title*/
.fontcustom{
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family: 'Great Vibes', cursive;
   
}
/*Formttation text page*/
.articl{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-style: italic;
    font-family: 'IM Fell Great Primer SC', serif;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 80px;
}

.articl h1 {
    font-size: 30px;
    margin-top: 10px;
}


.choix{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
    margin: 15px;
    gap: 30px;
}


.label{
grid-column: 1;
text-align: start;
}

.selection{
grid-column: 2;
}

.endbox{
    margin: 80px;
}

.checkbox{
    padding: 30px;
    margin: 30px;
    font-size: 20px;
}

.submit{
    padding: 25px;
    margin-top: 10px;
}

.submit1{
    padding: 10px;
    margin-top: 80px;
}